
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:ital,wght@0,900;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

/******* sheard element  *********/

/************header bannar part**********/
.header{
    /* background-image: url(../image/Banner\ Image.png);  */
    width: 1320px;
    height: 600px;  
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../image/Banner\ Image.png);
}

.bannar{
    text-align: center;
    padding: 177px;
}

.bannar-sub-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}
.bannar-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/********* discount and 65% OFF part ***********/
.section{
    text-align: center;
    margin-top: 120px;
}
.section-title{
    
    color: #E55473;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.section-discript{
    margin-top: 30px;
    color: #E55473;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.section-sub-title{
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.section-img{
    width: 802.9px;
    height: 500px;
    margin: auto;
    margin-top: 38px;
}

/****************** welcome party section*********************/
.container{
    
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url(../image/Vectorrr.png);
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    margin-top: 120px;

}
.container-info{
    padding-top: 170px;
    
}
.container-title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 5.04px;
}
.container-description{
    margin-top: 24px;
    width: 697px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.container-img{
    width: 319.83px;
    height: 464.662px;
    padding-top:80px ;
}
.btn{
    background-color:  #E55473;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
}

/* ****************place date and time part**************  */
.contant{
    
    width: 1320px;
    height: 482px;
    margin: auto;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 8px;
    margin-top: 120px;
    padding-top: 150px;
    line-height: 56px;
}

/* ****************coming soon part************** */
.section-contant-info{
    display: flex;
    width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    gap: 70px;
}

.contant-sub-titel{
    color: #E55473;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.contant-title{
    margin-top: 16px;
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.contant-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    width: 393px;
    margin-top: 22px;
    
}
.images-rounded{
    width: 364px;
    height: 364px;
    border: 15px solid #E55473;
    border-radius: 50%;
    padding: 20px;
}
.images-rounded img{
    width: 364px;
    height: 364px;
}

.year-part{
    margin-top: 50px;
}
.year{
    color:#E55473;
    font-size: 48px;
    font-weight: 700;
}
.year-part-dis{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 25px;
}
.year-part img{
    margin-top: 43px;
    width: 140px;
    height: 140px;
}


/* **********************Holidays part******************* */
.holiday-container{
    text-align: center;
    /* position: relative; */
}
.holiday-container-sub-title{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.hodiday{
    color: #E55473;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.holiday-container-title{
    margin-top: 16px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.holiday-container-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 1068px;
    margin: auto;
    margin-top: 30px;
}
/* hodiday image part  */
.holiday-container-images{
    display: flex;
    justify-content: end;
    margin-top: 65px;
}

.group-img{
    position: relative;
    position: absolute;
    margin-right:580px;
    margin-top: 65px;

}

.reg-img{
    margin-right: 300px;
}

.contribute{
    margin-top: 50px;
    margin-right: 100px;
}
.regd-img{
    position: absolute;
    margin-top: 380px;
    margin-right: 510px;
}

.group75-img{
    position: relative;
}

/* *************portfolio part************** */

.portfolio-section{
    margin-top: 200px;
    width: 1350px;
    margin: auto;
}

.portfolio-sub-title{
    margin-top: 120px;
    color: #E55473;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}
.portfolio-des{
    width: 896px;
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 40px;
}


.portfolio-img img{
    margin-right: 20px;
    margin-top: 20px;
}